<div class="row">
    <div class="col m2 s12">
        <mat-form-field class="fullWidth">
            <input type="date" matInput placeholder="Del" name="fdel" [(ngModel)]="params._fdel" required>
        </mat-form-field>        
    </div>
    <div class="col m2 s12">
        <mat-form-field class="fullWidth">
            <input type="date" matInput placeholder="Al" name="fal" [(ngModel)]="params._fal" required>
        </mat-form-field>
    </div>
    <div class="col m1 s12">
        <button mat-raised-button type="button" color="accent" (click)="loadPedidos()">
            Buscar
        </button>
    </div>
    <div class="col m7 s12">
        <mat-form-field class="fullWidth">
            <input matInput type="text" *ngIf="!esMovil" [matKeyboard]="keyboardLayout" (input)="applyFilter()" placeholder="Buscar..." [(ngModel)]="txtFiltro" [ngModelOptions]="{standalone: true}">
            <input matInput type="text" *ngIf="esMovil" (keyup)="applyFilter()" placeholder="Buscar..." [(ngModel)]="txtFiltro" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col m12 s12">
        <button mat-raised-button type="button" *ngFor="let stcc of lstEstatusCallcenter" class="btnAccion" [style.backgroundColor]="stcc.color" style="color: #000000" (click)="loadPedidos(stcc.estatus_callcenter)">
            {{stcc.descripcion}}
        </button>        
        <button mat-raised-button type="button" color="accent" class="btnAccion" (click)="loadPedidos()">
            Todos
        </button>
    </div>
</div>
<div class="divPedido" *ngFor="let pedido of lstPedidos">
    <app-encabezado-pedido [pedido]="pedido"></app-encabezado-pedido>
</div>


