<h1 mat-dialog-title>{{+reserva?.reserva > 0 ? 'Editar' : 'Nueva'}} reservación</h1>
<div mat-dialog-content>

  <mat-form-field style="width: 45%;" appearance="fill">
    <mat-label>Fecha</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Fecha de inicio inválida.</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Fecha de finalización inválida.</mat-error>
  </mat-form-field>

  <!-- <mat-form-field style="width: 45%;" appearance="fill" *ngIf="+reserva.reserva > 0">
    <mat-label>Estatus</mat-label>
    <mat-select (selectionChange)="select($event.value)" [disabled]="disableSelect.value">
      <mat-option *ngFor="let option of reservationTypes" value="{{ option.id }}">
        {{ option.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <!-- <div style="margin-bottom: 10px" [ngClass]="{
    'background-d': selectedResType.name === Disponible(),
    'background-re': selectedResType.name === Reservada(),
    'background-man': selectedResType.name === Mantenimiento(),
    'background-nd': selectedResType.name === NoDisponible()
    }" class="cell " fxLayout="column" fxLayoutAlign="center center">
    <mat-icon *ngIf="selectedResType.name === Reservada()" aria-hidden="false" aria-label="Example home icon">event_available</mat-icon>
    <mat-icon *ngIf="selectedResType.name === Mantenimiento()" style="color: white;" aria-hidden="false" aria-label="Example home icon">engineering</mat-icon>
    <mat-icon *ngIf="selectedResType.name === NoDisponible()" aria-hidden="false" aria-label="Example home icon">do_not_disturb</mat-icon>
  </div> -->
  <br/>
  <mat-form-field style="width: 45%;">
    <input matInput type="number" placeholder="Adultos" name="cantidad_adultos" [(ngModel)]="reserva.cantidad_adultos" (blur)="selectTarifa()" min="0" required>
  </mat-form-field>

  <mat-form-field style="width: 45%;">
    <input matInput type="number" placeholder="Menores" name="cantidad_menores" [(ngModel)]="reserva.cantidad_menores" (blur)="selectTarifa()" min="0" required>
  </mat-form-field>

  <mat-form-field style="width: 90%;">
    <mat-label>Tarifa</mat-label>
    <mat-select name="tarifa_reserva" [(ngModel)]="reserva.tarifa_reserva" required>      
      <mat-option *ngFor="let tarRes of tarifas" [value]="tarRes.tarifa_reserva">
        Monto: {{ tarRes.monto | number: '1.2-2'}} - {{ tarRes.cantidad_adultos }} adulto{{ +tarRes.cantidad_adultos !== 1 ? 's' : '' }} -  {{ tarRes.cantidad_menores }} menor{{ +tarRes.cantidad_menores !== 1 ? 'es': '' }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 90%;">
    <mat-label>Cliente</mat-label>
    <!-- <mat-select name="cliente_master" [(ngModel)]="reserva.cliente_master" required>      
      <mat-option *ngFor="let cliMas of lstClientesMaster" [value]="cliMas.cliente_master">
        {{ cliMas.nombre }}{{cliMas.numero_documento ? (' (' + cliMas.numero_documento + ')') : ''}}
      </mat-option>
    </mat-select> -->

    
    <input type="text" [(ngModel)]="txtClienteMasterSelected" [ngModelOptions]="{standalone: true}" 
           placeholder="Cliente" matInput [matAutocomplete]="autoClienteMaster" (keyup)="filtrarClientesMaster(txtClienteMasterSelected)" required>

    <mat-autocomplete #autoClienteMaster="matAutocomplete" [displayWith]="displayClienteMaster">
      <mat-option *ngFor="let cliMas of filteredLstClientesMaster" [value]="cliMas">
        {{ cliMas.nombre }}{{cliMas.numero_documento ? (' (' + cliMas.numero_documento + ')') : ''}}
      </mat-option>
    </mat-autocomplete>


  </mat-form-field>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="accent" (click)="addReservation()" [disabled]="!reservaLista">Guardar</button>
</div>