<h1 mat-dialog-title>
  {{+reserva?.reserva > 0 ? 'Editar' : 'Nueva'}} reservación
  <span *ngIf="+reserva?.reserva > 0"> - Número {{reserva?.reserva}}</span>
  <span *ngIf="+reserva?.reserva > 0"> - Habitación {{reserva.etiqueta_mesa || reserva.numero_mesa }}</span>
  <span *ngIf="!reserva || +reserva?.reserva === 0"> - Habitación {{data.descripcionHabitacion}}</span>
  <span *ngIf="+reserva.comanda > 0"> - Comanda {{reserva.comanda}}</span>
</h1>
<div mat-dialog-content>
  <mat-form-field style="width: 45%;" appearance="fill">
    <mat-label>Noches del - al</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [dateFilter]="filtroFecha">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Fecha de inicio inválida.</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Fecha de finalización inválida.</mat-error>
    <mat-hint align="start" *ngIf="diaSalida">Día de salida: {{diaSalida}}<span> - {{cantidadNoches}} noche{{cantidadNoches !== 1 ? 's' : ''}}</span></mat-hint>
    <!-- <mat-hint align="end" *ngIf="diaSalida">NOCHES = {{cantidadNoches}}</mat-hint> -->
  </mat-form-field>

  <mat-form-field style="width: 45%;" appearance="fill" *ngIf="+reserva.reserva > 0">
    <mat-label>Estatus</mat-label>
    <mat-select name="estatus_reserva" [(ngModel)]="reserva.estatus_reserva">
      <ng-container *ngFor="let estRes of lstEstatusReserva">
        <mat-option value="{{ estRes.estatus_reserva }}" *ngIf="[1, 2].indexOf(+estRes.estatus_reserva) > -1" [disabled]="+estRes.estatus_reserva <= +reserva.estatus_reserva">
          {{ estRes.descripcion }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field style="width: 45%;">
    <input matInput type="number" placeholder="Adultos" name="cantidad_adultos" [(ngModel)]="reserva.cantidad_adultos"
      (blur)="selectTarifa()" min="0" required>
  </mat-form-field>

  <mat-form-field style="width: 45%;">
    <input matInput type="number" placeholder="Menores" name="cantidad_menores" [(ngModel)]="reserva.cantidad_menores"
      (blur)="selectTarifa()" min="0" required>
  </mat-form-field>

  <mat-form-field style="width: 90%;">
    <mat-label>Tarifa</mat-label>
    <mat-select name="tarifa_reserva" [(ngModel)]="reserva.tarifa_reserva" required>
      <mat-option *ngFor="let tarRes of tarifas" [value]="tarRes.tarifa_reserva">
        Monto: {{ tarRes.monto | number: '1.2-2'}} - {{ tarRes.cantidad_adultos }} adulto{{ +tarRes.cantidad_adultos !==
        1 ? 's' : '' }} - {{ tarRes.cantidad_menores }} menor{{ +tarRes.cantidad_menores !== 1 ? 'es': '' }} - {{ tarRes.descripcion_articulo }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 80%;">
    <mat-label>Cliente</mat-label>
    <input type="text" [(ngModel)]="txtClienteMasterSelected" [ngModelOptions]="{standalone: true}" placeholder="Cliente" matInput [matAutocomplete]="autoClienteMaster"
      (keyup)="filtrarClientesMaster(txtClienteMasterSelected)" required>
    <mat-autocomplete #autoClienteMaster="matAutocomplete" [displayWith]="displayClienteMaster">      
      <mat-option *ngFor="let cliMas of filteredLstClientesMaster" [value]="cliMas">
        <mat-icon aria-hidden="false" aria-label="En lista negra" *ngIf="+cliMas.enlistanegra === 1">warning_amber</mat-icon>{{ cliMas.nombre }}{{cliMas.numero_documento ? (' (' + cliMas.numero_documento + ')') : ''}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>  
  <button mat-raised-button color="accent" (click)="agregarNuevoClienteMaster()" style="width: 10%; margin-left: 5px;">Nuevo</button>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button (click)="generarComandaDoc()" *ngIf="+reserva.estatus_reserva === 2 && +reserva.comanda === 0" style="background-color: #8bc78b;">
    <mat-icon style="font-size: 15pt;">auto_fix_high</mat-icon>
    Crear comanda
  </button>
  <button mat-raised-button color="secondary" (click)="cancelarReservacion()" *ngIf="+reserva.estatus_reserva === 1">Cancelar reservación</button>
  <button mat-raised-button color="accent" (click)="cambiarHabitacion()" *ngIf="[1, 2].indexOf(+reserva.estatus_reserva) > -1">Cambiar habitación</button>
  <button mat-raised-button color="accent" (click)="agregarCobroHabitacion()" [disabled]="!reservaLista || +reserva.cobradoencomanda === 1" *ngIf="+idEstatusReservaInicial === 2 && +reserva.comanda > 0">Agregar cobro de habitación</button>
  <button mat-raised-button color="accent" (click)="addAbono()" *ngIf="+reserva?.reserva > 0">Abonos</button>
  <button mat-raised-button color="accent" (click)="addReservation()" [disabled]="!reservaLista">Guardar</button>
</div>