<div class="row">
  <div class="col m12 s12">
    <mat-card class="mat-elevation-z4 fullWidth">
      <mat-card-title>
        <div class="row">
          <div class="col">
            <h4>Ingreso {{!esCuadreDiario ? 'Inventario Físico' : 'Cuadre Diario'}}</h4>
          </div>
          <div class="col" style="float: right;">
            <button mat-button type="button" color="accent" (click)="showForm = !showForm;">
              <mat-icon class="iconFontSize" *ngIf="!showForm">expand_more</mat-icon>
              <mat-icon class="iconFontSize" *ngIf="showForm">expand_less</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content *ngIf="showForm">
        <form (ngSubmit)="buscar()" novalidate>
          <mat-form-field class="fullWidth">
            <input matInput type="number" maxlength="17" max="17" placeholder="Número" name="numero"
              [(ngModel)]="params.numero" required>
            <button mat-raised-button matSuffix color="accent" type="submit" [disabled]="cargando">Buscar</button>
          </mat-form-field>
        </form>
        <app-cargando *ngIf="cargando"></app-cargando>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row" *ngIf="articulos.length > 0">
  <div class="col m12 s12">
    <mat-card class="mat-elevation-z4 fullWidth">
      <mat-card-content>
        <form #frmConteoFisico="ngForm" (ngSubmit)="frmConteoFisico.form.valid && actualizar()" novalidate autocomplete="off">

          <table class="tbl tblInventarioFisico">
            <caption>
              <h5>
                NOTA: Los cálculos están realizados desde el punto de vista del sistema. Eso significa que si la diferencia es de color <span class="hay-diferencia-ingreso">verde</span>, el sistema realizará un ingreso y si es de color <span class="hay-diferencia">rojo</span>, el sistema hará un egreso y si está en negro, es porque el sistema no hará ningún movimiento.
              </h5>
            </caption>
            <thead>
              <tr>
                <th>Artículo</th>
                <th class="rtxt" style="width: 15%;" *ngIf="!esCuadreDiario || (esCuadreDiario && +inventario.confirmado === 1)">Existencia sistema</th>
                <th style="width: 20%;" [ngClass]="{'rtxt': +inventario.confirmado === 1}">Existencia física</th>
                <th class="rtxt" style="width: 15%;" *ngIf="!esCuadreDiario || (esCuadreDiario && +inventario.confirmado === 1)">Diferencia</th>
              </tr>
            </thead>
            <tbody>              
              <ng-container *ngFor="let cat of articulos">
                <tr>
                  <th colspan="3">
                    <mat-label>{{ cat.descripcion }}</mat-label>
                  </th>
                </tr>
  
                <ng-container *ngFor="let gcat of cat.datos">
                  <tr>
                    <th colspan="3">{{ gcat.descripcion }}</th>
                  </tr>
  
  
                  <tr *ngFor="let art of gcat.datos;">
                    <td>
                      {{ art.narticulo }}
                    </td>
                    <td class="rtxt bld" style="width: 15%; font-style: italic;" *ngIf="!esCuadreDiario || (esCuadreDiario && +inventario.confirmado === 1)">
                      {{ art.existencia_sistema | number:'1.5-5' }}
                    </td>
                    <td style="width: 20%;" [ngClass]="{'rtxt': +inventario.confirmado === 1}">
                      <mat-form-field class="fullWidth" style="margin-left: 5px;" *ngIf="+inventario.confirmado === 0">
                        <input matInput type="number" step="0.01" placeholder="Cantidad" [(ngModel)]="art.existencia_fisica" [ngModelOptions]="{standalone: true}" required>
                      </mat-form-field>
                      <strong *ngIf="+inventario.confirmado === 1">{{art.existencia_fisica | number:'1.5-5'}}</strong>
                    </td>
                    <td class="rtxt bld" style="width: 15%;" *ngIf="!esCuadreDiario || (esCuadreDiario && +inventario.confirmado === 1)" [ngClass]="{'hay-diferencia': (+art.existencia_sistema - +art.existencia_fisica) > 0, 'hay-diferencia-ingreso': (+art.existencia_sistema - +art.existencia_fisica) < 0}">
                      {{(+art.existencia_sistema - +art.existencia_fisica) | number:'1.5-5' }}
                    </td>
                  </tr>
  
  
                </ng-container>
  
              </ng-container>
            </tbody>
          </table>

          <div align="end">
            <button mat-button color="accent" type="submit" *ngIf="inventario.confirmado == 0" [disabled]="cargando">Guardar</button>
            <button mat-button color="accent" type="button" (click)="imprimir()" [disabled]="cargando">PDF</button>
            <button mat-button color="accent" type="button" (click)="imprimirXls()" *ngIf="!esCuadreDiario" [disabled]="cargando">Excel</button>
            <button mat-button color="accent" type="button" *ngIf="inventario.confirmado == 0" (click)="confirmar()" [disabled]="cargando">Confirmar</button>
          </div>
        </form>
        <app-cargando *ngIf="cargando"></app-cargando>
      </mat-card-content>
    </mat-card>
  </div>
</div>