<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>Nota predefinida</h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmNotaPredefinida="ngForm" (ngSubmit)="frmNotaPredefinida.form.valid && onSubmit()" novalidate>
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" placeholder="Nota predefinida" name="nota" [(ngModel)]="notaPredefinida.nota" minlength="1" maxlength="1000" required>
                <input matInput *ngIf="esMovil" placeholder="Nota predefinida" name="nota" [(ngModel)]="notaPredefinida.nota" minlength="1" maxlength="1000" required>
            </mat-form-field>            
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion" [disabled]="!frmNotaPredefinida.form.valid">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="resetNotaPredefinida()" *ngIf="notaPredefinida.nota">
                    Nueva
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>