.full-width {
    width: 100%;
}

.iconFontSize {
    font-size: 24pt;
}

.autocomplete-cliente-item {
    height: 50px;
}

.autocomplete-articulo-item {
    height: 50px;
}

th.mat-header-cell {
    text-align: right;
}

.mat-column-editItem {    
    padding: 0 !important;
}
