<div class="row">    
    <div class="col m12 s12 topMargin" align="center">
        <mat-card class="example-card">
            <img id="imgLogo" mat-card-image src="/assets/img/logo.svg" alt="Rest-Touch">
            <mat-card-content>
                <h5>Ingreso</h5>
                <form #frmLogIn="ngForm" novalidate>
                    <mat-form-field class="fullWidth">
                        <input matInput type="text" placeholder="Usuario" id="txtUsuario" name="txtUsuario" [(ngModel)]="usr.usuario" required>
                    </mat-form-field>
                    <mat-form-field class="fullWidth">
                        <input matInput type="password" id="txtContrasenia" name="txtContrasenia" [(ngModel)]="usr.contrasenia" placeholder="Contraseña" required>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-flat-button type="button" color="accent" (click)="registrarse()" [disabled]="!isOnline" style="margin-right: 8px !important;">Solicitar registrarse</button>
                <button id="btnLogin" mat-flat-button type="button" color="accent" (click)="doLogin()" [disabled]="!frmLogIn.form.valid || !isOnline">Ingresar</button>
            </mat-card-actions>            
        </mat-card>
    </div>    
</div>
<div class="row" *ngIf="cargando">
    <div class="col m12 s12" align="center">
        <h4>Revisando las credenciales...</h4>
        <app-cargando></app-cargando>
    </div>
</div>