<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>Tipo de documento de identificación</h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmTipoDocumento="ngForm" (ngSubmit)="frmTipoDocumento.form.valid && onSubmit()" novalidate>
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" placeholder="Descripción" name="descripcion" [(ngModel)]="tipoDocumento.descripcion" minlength="1" maxlength="45" required>
                <input matInput *ngIf="esMovil" placeholder="Descripción" name="descripcion" [(ngModel)]="tipoDocumento.descripcion" minlength="1" maxlength="45" required>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="text" placeholder="Abreviatura" name="abreviatura" [(ngModel)]="tipoDocumento.abreviatura" minlength="1" maxlength="5" required>
                <input matInput *ngIf="esMovil" type="text" placeholder="Abreviatura" name="abreviatura" [(ngModel)]="tipoDocumento.abreviatura" minlength="1" maxlength="5" required>
            </mat-form-field>            
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion" [disabled]="!frmTipoDocumento.form.valid">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="resetTipoDocumento()" *ngIf="tipoDocumento.tipo_documento">
                    Nuevo
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>