<h1 mat-dialog-title>{{clienteMaster.cliente_master ? clienteMaster.nombre : 'Nuevo cliente'}}</h1>
<div mat-dialog-content class="contenido">
  <div class="row">
    <div class="col m12 s12">
      <app-form-cliente-master #frmClienteMaster [clienteMaster]="clienteMaster" (clienteMasterSvd)="clienteMasterSvd($event)"></app-form-cliente-master>
    </div>
  </div>

  <mat-tab-group *ngIf="+clienteMaster.cliente_master > 0">
    <mat-tab label="Teléfono">
      <app-cliente-master-telefono #frmClienteMasterTelefono [clienteMaster]="clienteMaster"></app-cliente-master-telefono>
    </mat-tab>
    <mat-tab label="Dirección">
      <app-cliente-master-direccion #frmClienteMasterDireccion [clienteMaster]="clienteMaster"></app-cliente-master-direccion>
    </mat-tab>
    <mat-tab label="Notas">
      <app-cliente-master-nota #frmClienteMasterDireccion [clienteMaster]="clienteMaster"></app-cliente-master-nota>
    </mat-tab>
    <mat-tab label="Datos de Facturación">
      <app-agregar-dato-de-facturacion #frmClienteMasterDireccion [clienteMaster]="clienteMaster"></app-agregar-dato-de-facturacion>
    </mat-tab>
  </mat-tab-group>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="cancelar()" color="warn">
    Cancelar
  </button>
</div>
