.contenido {
  max-height: 65vh !important;
  height: 100%;
  overflow-y: auto;
  padding: 0 5px;
  /* border: solid 1px black; */
}

.tblHistoria > th, td, tr {
  padding: 2px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  border-bottom: none !important;
}

.btnDuplicar {    
    background-color: green;
}

.topRow {
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.midRow {
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.bottRow {
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black !important;
}
