<table #tblClientesRT>
    <thead>
        <tr>
            <th>Cliente</th>
            <th class="rtxt">Último monto cobrado</th>
            <th>Último enlace de cobro</th>
            <th>Fecha de último enlace</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let clirt of listaClientes; index as i">
            <td>{{clirt.cliente}} ({{clirt.dominio}})</td>
            <td class="rtxt">{{clirt.ultimo_monto | number:'1.2-2'}}</td>
            <td>
                <a id="checkout_{{i}}" [href]="clirt.ultimo_checkout" target="_blank" rel="noopener noreferrer" *ngIf="clirt.ultimo_checkout">Abrir checkout...</a>
            </td>
            <td>{{clirt.fecha_ultimo_checkout | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>
                <button mat-raised-button type="button" color="accent" (click)="generarIdClienteRecurrente(clirt, i)" *ngIf="!clirt.id_recurrente">
                    Crear cliente
                </button>
                <span *ngIf="clirt.id_recurrente">{{clirt.id_recurrente}}</span>
            </td>
            <td>
                <button mat-raised-button type="button" color="accent" (click)="generarCobroEnRecurrente(clirt, i)" [disabled]="!clirt.id_recurrente">
                    Generar cobro
                </button>
            </td>
        </tr>
    </tbody>
</table>