<form #frmClienteMaster="ngForm" (ngSubmit)="frmClienteMaster.form.valid && onSubmit()" novalidate>
    <mat-form-field>
        <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="clienteMaster.nombre" minlength="1" maxlength="250" required>
        <input matInput *ngIf="esMovil" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="clienteMaster.nombre" minlength="1" maxlength="250" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="email" placeholder="E-mail" name="correo" [(ngModel)]="clienteMaster.correo" minlength="1" maxlength="75">
        <input matInput *ngIf="esMovil" type="email" placeholder="E-mail" name="correo" [(ngModel)]="clienteMaster.correo" minlength="1" maxlength="75">        
    </mat-form-field>

    <mat-form-field>
        <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="date" placeholder="Fecha de nacimiento" name="fecha_nacimiento" [(ngModel)]="clienteMaster.fecha_nacimiento">
        <input matInput *ngIf="esMovil" type="date" placeholder="Fecha de nacimiento" name="fecha_nacimiento" [(ngModel)]="clienteMaster.fecha_nacimiento">
    </mat-form-field>

    <mat-form-field class="fullWidth">
        <mat-label>Tipo de documento</mat-label>
        <mat-select name="tipo_documento" [(ngModel)]="clienteMaster.tipo_documento">
            <mat-option *ngFor="let td of tiposDocumento" [value]="td.tipo_documento">
                {{td.descripcion}} ({{td.abreviatura}})
            </mat-option>
        </mat-select>
    </mat-form-field>    

    <mat-form-field>
        <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="text" placeholder="No. de documento" name="numero_documento" [(ngModel)]="clienteMaster.numero_documento" minlength="1" maxlength="250" (keypress)="validateKey($event)">
        <input matInput *ngIf="esMovil" type="text" placeholder="No. de documento" name="numero_documento" [(ngModel)]="clienteMaster.numero_documento" minlength="1" maxlength="250" (keypress)="validateKey($event)">
    </mat-form-field>
    
    <mat-checkbox name="enlistanegra" [(ngModel)]="+clienteMaster.enlistanegra">En lista negra</mat-checkbox>

    <div align="end">
        <button mat-raised-button type="submit" color="accent" [disabled]="!frmClienteMaster.form.valid">
            Guardar
        </button>        
    </div>
</form>