<h2 class="mat-title">Agregar una dirección a {{nombre}}</h2>
<mat-divider></mat-divider>
<div class="example-container">

  <form #frmAddDir="ngForm" novalidate (ngSubmit)="onDireccionSubmit()">


    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>

          <mat-form-field appearance="fill" class="input-ml">
            <mat-label>Tipo Dirección</mat-label>

            <mat-select  [(value)]="direccion.tipo_direccion" [(ngModel)]="direccion.tipo_direccion"  name="tipo_direccion" required >
              <mat-option *ngFor="let td of tipoDireccion" [value]="td.tipo_direccion">{{td.descripcion}}</mat-option>
            </mat-select>
            <mat-hint align="end">Seleccione uno.</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" class="input-ml">
            <mat-label>Sede</mat-label>

            <mat-select  [(value)]="direccion.sede" [(ngModel)]="direccion.sede"  name="sede" required >
              <mat-option *ngFor="let td of sedes" [value]="td.sede">{{td.nombre}}</mat-option>
            </mat-select>
            <mat-hint align="end">Seleccione una.</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" class="input-ml">
            <mat-label>Zona</mat-label>
            <input [(ngModel)]="direccion.zona" name="zona"   matInput type="number" placeholder="Ej. 2" min="0">
          </mat-form-field>

          <mat-form-field appearance="fill" class="input-ml">
            <mat-label>Código Postal</mat-label>
            <input [(ngModel)]="direccion.codigo_postal"  name="codigo_postal" matInput type="text" placeholder="Ej. 01057" minlength="3">
          </mat-form-field>

          <mat-form-field hintLabel="Municipio" appearance="fill" class="input-ml">
            <mat-label>Ingrese Municipio</mat-label>
            <input [(ngModel)]="direccion.municipio"  name="municipio" matInput #input maxlength="50" placeholder="Ex. Mixco">
            <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
          </mat-form-field>

          <mat-form-field hintLabel="País" appearance="fill" class="input-ml">
            <mat-label>Ingrese País</mat-label>
            <input [(ngModel)]="direccion.pais"  name="pais" matInput #input maxlength="50" placeholder="Ex. Mexico">
            <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
          </mat-form-field>

          <mat-form-field hintLabel="Departamento" appearance="fill" class="input-ml">
            <mat-label>Ingrese Departamento</mat-label>
            <input [(ngModel)]="direccion.departamento"  name="departamento" matInput #input maxlength="50" placeholder="Ex. Mixco">
            <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
          </mat-form-field>

<!--          <mat-form-field *ngIf="isEditing" appearance="fill" class="input-ml">-->
<!--            <mat-label>De Baja</mat-label>-->
<!--            <mat-select [(ngModel)]="direccion.debaja" required name="debaja">-->
<!--              <mat-option value="true">Si</mat-option>-->
<!--              <mat-option value="false">No</mat-option>-->
<!--            </mat-select>-->
<!--            <mat-hint align="end">Dar de baja esta direccion</mat-hint>-->
<!--          </mat-form-field>-->

        </td>
      </tr>

      <tr>
        <td >

          <mat-form-field hintLabel="Max 50 caracteres" appearance="fill" class="notes-st">
            <mat-label>Ingrese Dirección 1</mat-label>
            <input  [(ngModel)]="direccion.direccion1" required name="direccion1" matInput #input maxlength="50" placeholder="Ex. 1 Calle B">
            <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
          </mat-form-field>

          <mat-form-field hintLabel="Max 50 caracteres" appearance="fill" class="notes-st">
            <mat-label>Ingrese Dirección 2</mat-label>
            <input  [(ngModel)]="direccion.direccion2"  name="direccion2" matInput #input maxlength="50" placeholder="Ex. 1 Calle B">
            <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
          </mat-form-field>

          <mat-form-field hintLabel="Notas" appearance="fill" class="notes-st">
            <mat-label>Alguna nota</mat-label>
            <input [(ngModel)]="direccion.notas" name="notes"  matInput #input maxlength="50" placeholder="Ex. Sobre la Roosvelt">
            <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
          </mat-form-field>


        </td>
      </tr>
    </table>

    <div mat-dialog-actions align="end">
      <!-- Type button prevents from calling onSubmit -->
      <button mat-raised-button type='button' (click)="cancelar()" color="warn">Cancelar</button>
      <button mat-raised-button type='submit' [disabled]="!frmAddDir.form.valid" color="primary">Guardar</button>
    </div>

  </form>

</div>




