<mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
        <mat-card class="fill-space">
            <mat-card-title>Ventas por día</mat-card-title>
            <mat-card-subtitle>(Con descuentos, con propina, con facturas manuales, sin impuestos especiales)</mat-card-subtitle>
            <mat-card-content>
                <app-grafica-linea [lineChartData]="dsPorDia" [lineChartLabels]="lblsPorDia" [titulo]="'Ventas por día'"></app-grafica-linea>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="fill-space">
            <mat-card-title>Ventas por categoría</mat-card-title>
            <mat-card-subtitle>(Con descuentos, con propina, con facturas manuales, sin impuestos especiales)</mat-card-subtitle>
            <mat-card-content>
                <app-grafica-linea [lineChartData]="dsPorCategoria" [lineChartLabels]="lblsPorCategoria" [titulo]="'Ventas por categoría'"></app-grafica-linea>
            </mat-card-content>
        </mat-card>        
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="fill-space">
            <mat-card-title>Ventas por turno</mat-card-title>
            <mat-card-subtitle>(Con descuentos, sin propina, sin facturas manuales, sin impuestos especiales)</mat-card-subtitle>
            <mat-card-content>
                <app-grafica-linea [lineChartData]="dsPorTurno" [lineChartLabels]="lblsPorTurno" [titulo]="'Ventas por turno'"></app-grafica-linea>
            </mat-card-content>
        </mat-card>        
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="fill-space">
            <mat-card-title>Ventas por mesero</mat-card-title>
            <mat-card-subtitle>(Con descuentos, con impuestos especiales, sin propina, sin facturas manuales)</mat-card-subtitle>
            <mat-card-content>
                <app-grafica-linea [lineChartData]="dsPorMesero" [lineChartLabels]="lblsPorMesero" [titulo]="'Ventas por mesero'"></app-grafica-linea>
            </mat-card-content>
        </mat-card>        
    </mat-grid-tile>
</mat-grid-list>