<h5>Datos de facturación asociados</h5>
<table>
  <caption style="text-align: left;">
    <form #frmDirC="ngForm" (ngSubmit)="frmDirC.form.valid && asociarClienteMaster()" novalidate>
      <mat-form-field style="width: 75%; padding-right: 5px;">
        <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="text" placeholder="NIT o CUI o Pasaporte" name="nit" [(ngModel)]="ClientefrmDirC.nit" (keypress)="validateDocumentoReceptor($event)" minlength="2" maxlength="100" required>
        <input matInput *ngIf="esMovil" type="text" placeholder="NIT o CUI o Pasaporte" name="nit" [(ngModel)]="ClientefrmDirC.nit" (keypress)="validateDocumentoReceptor($event)" minlength="2" maxlength="100" required>
      </mat-form-field>
      <button mat-raised-button type="submit" color="accent" [disabled]="!frmDirC.form.valid || cargando || !(+clienteMaster?.cliente_master > 0)">
        Asociar
      </button>
    </form>
  </caption>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Dirección</th>
    <th>Documento</th>
    <th>Correo</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cl of lstClmCL">
    <td>{{cl.cliente.nombre}}</td>
    <td>{{cl.cliente.direccion}}</td>
    <td>{{cl.cliente.nit || cl.cliente.cui || cl.cliente.pasaporte}}</td>
    <td>{{cl.cliente.correo}}</td>
    <td>
      <button mat-raised-button type="button" color="accent" (click)="desasociarClienteM(cl)" [disabled]="cargando">
        Desasociar
      </button>
    </td>
  </tr>
  </tbody>
</table>
