<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Liberar mesa</mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <app-liberar-mesa></app-liberar-mesa>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Cuenta cobrada en otra estación</mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <app-cuenta-cobrada-otra-estacion></app-cuenta-cobrada-otra-estacion>
    </mat-expansion-panel>
</mat-accordion>