<h1 mat-dialog-title>
    Reserva No. {{reserva.reserva}}
</h1>
<div mat-dialog-content class="contenido">
    <div class="fullWidth">
        <mat-card class="mat-elevation-z4 fullWidth">
            <mat-card-header>
                <mat-card-title>{{reserva.cliente}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Ubicado en <strong>{{reserva.area}} - {{reserva.reservable}} ({{reserva.tipo_habitacion}})</strong> las noches del <strong>{{reserva.fecha_del | date:'dd/MM/yyyy'}}</strong> al <strong>{{reserva.fecha_al | date:'dd/MM/yyyy'}} - {{cantidadNoches}}</strong> noche{{cantidadNoches === 1 ? '' : 's'}}.<br/>
                    Registrado con el documento <strong>{{reserva.tipo_documento}} - {{reserva.numero_documento}}</strong> con <strong>{{reserva.cantidad_adultos}}</strong> adulto{{+reserva.cantidad_adultos === 1 ? '' : 's'}} y <strong>{{reserva.cantidad_menores}}</strong> menor{{+reserva.cantidad_menores === 1 ? '' : 'es'}}.<br/>
                    Se le aplicó la tarifa de tipo de habitación <strong>{{reserva.tipo_habitacion_reserva}}</strong> por <strong>{{reserva.monto | number:'1.2-2'}}</strong> para <strong>{{reserva.cantidad_adultos_reserva}}</strong> adulto{{+reserva.cantidad_adultos === 1 ? '' : 's'}} y <strong>{{reserva.cantidad_menores_reserva}}</strong> menor{{+reserva.cantidad_menores_reserva === 1 ? '' : 'es'}} con <strong>{{(reserva.monto_adicional_adulto || 0) | number:'1.2-2'}}</strong> adicional por adulto y <strong>{{(reserva.monto_adicional_menor || 0) | number:'1.2-2'}}</strong> adicional por menor.<br/>
                    El cliente <strong>{{reserva.enlistanegra | lowercase}}</strong> está en lista negra.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <hr/>
    <div class="fullWidth">
        <mat-card class="mat-elevation-z4 fullWidth" *ngIf="!!reserva.comanda?.comanda">
            <mat-card-header>
                <mat-card-title>Comanda {{reserva.comanda.comanda}}</mat-card-title>
                <mat-card-subtitle *ngIf="reserva.comanda.notas && reserva.comanda.notas.trim().length > 0">Notas: {{reserva.comanda.notas}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <table>
                    <ng-container *ngFor="let cta of reserva.comanda.cuentas">
                        <tr>
                            <th colspan="4" class="ctxt">{{cta.nombre}}</th>
                        </tr>
                        <tr>
                            <th style="width: 70%;">Artículo</th>
                            <th class="rtxt" style="width: 10%;">Cantidad</th>
                            <th class="rtxt" style="width: 10%;">Precio</th>
                            <th class="rtxt" style="width: 10%;">Total</th>          
                        </tr>
                        <tr *ngFor="let det of cta.detalle; last as isLast">
                            <td [ngClass]="{'bld': isLast}">{{det.articulo}}</td>
                            <td class="rtxt" [ngClass]="{'bld': isLast}">{{det.cantidad | number:'1.2-2'}}</td>
                            <td class="rtxt" [ngClass]="{'bld': isLast}">{{det.precio | number:'1.2-2'}}</td>
                            <td class="rtxt" [ngClass]="{'bld': isLast}">{{det.total | number:'1.2-2'}}</td>
                        </tr>
                    </ng-container>
                </table>                
            </mat-card-content>
        </mat-card>
    </div>
    <hr/>
    <div class="fullWidth" *ngIf="reserva.facturas && reserva.facturas.length > 0">
        <ng-container *ngFor="let factura of reserva.facturas; last as isLastFactura">
        <mat-card class="mat-elevation-z4 fullWidth">
            <mat-card-header>
                <mat-card-title>Factura del {{factura.fecha_factura | date:'dd/MM/yyyy'}} a nombre de {{factura.nombre}}</mat-card-title>
                <mat-card-subtitle>
                    Número: {{factura.serie_factura}} - {{factura.numero_factura}}<br/>
                    {{factura.tipo_documento_receptor}}: {{factura.documento_receptor}}<br/>
                    Estado: {{factura.estatus}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>                
                <table>                    
                        <tr>
                            <th style="width: 50%;">Artículo</th>
                            <th class="rtxt" style="width: 10%;">Cantidad</th>
                            <th class="rtxt" style="width: 10%;">Precio</th>
                            <th class="rtxt" style="width: 10%;">Total</th>          
                            <th class="rtxt" style="width: 10%;">Descuento</th>
                            <th class="rtxt" style="width: 10%;">Impuesto</th>
                        </tr>
                        <tr *ngFor="let det of factura.detalle; last as isLast">
                            <td [ngClass]="{'bld': isLast}">{{det.articulo}}</td>
                            <td class="rtxt" [ngClass]="{'bld': isLast}">{{det.cantidad | number:'1.2-2'}}</td>
                            <td class="rtxt" [ngClass]="{'bld': isLast}">{{det.precio_unitario | number:'1.2-2'}}</td>                            
                            <td class="rtxt" [ngClass]="{'bld': isLast}">{{det.total | number:'1.2-2'}}</td>
                            <td class="rtxt" [ngClass]="{'bld': isLast}">{{det.descuento | number:'1.2-2'}}</td>
                            <td class="rtxt" [ngClass]="{'bld': isLast}">{{det.valor_impuesto_especial | number:'1.2-2'}}</td>
                        </tr>
                    </table>
            </mat-card-content>
        </mat-card>
        <hr *ngIf="!isLastFactura"/> 
    </ng-container>       
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="accent" (click)="dialogRef.close()">Cerrar</button>
</div>