.cell{
  width: 100px !important;
  height: 50px !important;
}

.background-nd{
  background-color: grey;
}
.background-nd:hover{
  background-color: darkgrey;
}

.background-re{
  background-color: #ff000083;
}
.background-re:hover{
  background-color: #ff00003a;
}

.background-ch{
  background-color: #008000a6;
}
.background-ch:hover{
  background-color: #00800070;
}

.background-cho{
  background-color: #41b5fd;
}
.background-cho:hover{
  background-color: lightblue;
}

.background-man{
  background-color: darkslategrey;
}
.background-man:hover{
  background-color: #3b5b45;
}

.background-d{
  background-color: white;
}

.background-d:hover{
  background-color: palegreen;
}
