.cell{
  width: 100px !important;
  height: 50px !important;
}

.background-nd{
  background-color: grey;
}
.background-nd:hover{
  background-color: darkgrey;
}

.background-re{
  background-color: cornflowerblue;
}
.background-re:hover{
  background-color: #24e4eb;
}

.background-ch{
  background-color: yellowgreen;
}
.background-ch:hover{
  background-color: yellow;
}

.background-cho{
  background-color: gray;
}
.background-cho:hover{
  background-color: lightgray;
}

.background-man{
  background-color: darkslategrey;
}
.background-man:hover{
  background-color: #3b5b45;
}

.background-d{
  background-color: white;
}

.background-d:hover{
  background-color: palegreen;
}
