.tblPedido > th, td, tr {
  padding: 2px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  border-bottom: none !important;
}

.sub-titulo {  
  font-size: 15pt;
  color: rgb(104, 100, 100);
}
