<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-content>
        <mat-form-field class="fullWidth">
            <input matInput type="text" *ngIf="!esMovil" [matKeyboard]="keyboardLayout" (input)="applyFilter()" (keypress)="validateKey($event)" placeholder="Buscar..." [(ngModel)]="txtFiltro" [ngModelOptions]="{standalone: true}">
            <input matInput type="text" *ngIf="esMovil" (keyup)="applyFilter()" (keypress)="validateKey($event)" placeholder="Buscar..." [(ngModel)]="txtFiltro" [ngModelOptions]="{standalone: true}">
            <!-- <button type="button" mat-raised-button matSuffix color="accent" (click)="loadInfoContribuyente(txtFiltro)" *ngIf="length === 0 && txtFiltro.length >= 2 && txtFiltro.length <= 12">
                Validar NIT
            </button> -->
            <button type="button" mat-raised-button matSuffix color="accent" (click)="agregarCliente()" *ngIf="length === 0 && txtFiltro.length >= 2 && +totalDeCuenta > 0">
                Nuevo
            </button>
        </mat-form-field>
        <button type="button" class="fullWidth" mat-raised-button color="accent" (click)="setClienteCF()">
            Consumidor Final
        </button>
        <cdk-virtual-scroll-viewport itemSize="55">
            <mat-nav-list dense>
                <ng-container *cdkVirtualFor="let cli of lstClientesPaged; let index = index" (click)="!desHabilitaCliente(cli) && getCliente(cli)">
                    <mat-list-item matRipple (click)="!desHabilitaCliente(cli) && getCliente(cli)" [ngClass]="{'cliente-no-valido': desHabilitaCliente(cli)}">
                        <button mat-line mat-icon-button mat-list-icon aria-label="Editar cliente" *ngIf="+totalDeCuenta > 0" (click)="agregarCliente(cli, index)">
                            <mat-icon style="font-size: 20pt">edit</mat-icon>
                        </button>
                        <mat-icon mat-list-icon *ngIf="+totalDeCuenta === 0">person</mat-icon>
                        <h5 mat-line>{{cli.nombre}}</h5>
                    </mat-list-item>
                </ng-container>
            </mat-nav-list>
        </cdk-virtual-scroll-viewport>        
    </mat-card-content>
</mat-card>