<div class="w-auto" fxLayout="row">

  <div class="w-25">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar (selectedChange)="dateChanged($event)" [(selected)]="selected"></mat-calendar>
    </mat-card>
  </div>

  <div class="w-auto" fxLayout="column">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!--[type]="HabType.A1"-->
      <!-- Position Column -->
      <ng-container matColumnDef="habitacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          <div style="width: 90px;" fxLayout="row" fxLayoutAlign="center center">
            Habitacion
            <mat-icon [matMenuTriggerFor]="menu" style="padding:0px !important;" aria-hidden="false" aria-label="Example home icon">filter_alt</mat-icon>
            <mat-menu #menu="matMenu">
              <app-filter (childEventEmitterUpdate)="update()" (childEventEmitter)="addFiler($event)" [dataSourceR]="roomArr"></app-filter>
            </mat-menu>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <app-habitacion [resId]='element.resId' [type]="element.habitacion" [text]="element.habitacionName"></app-habitacion>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="lunes">
        <th class="cell-d" mat-header-cell *matHeaderCellDef>
          <div fxLayout="column" fxLayoutAlign="center center">
            <a><b>{{ monDate | date :'dd/MM/yyyy'}}</b></a>
            <a><b>Lunes</b></a>
          </div>
        </th>
        <td class="cell-d" mat-cell *matCellDef="let element">
          <app-reservacion [resId]='element.resL' [cDate]="monDate" (requestUpdate)="requestUpdate()" [roomId]='element.roomId' [text]='element.lunes'></app-reservacion>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="martes">
        <th class="cell-d" mat-header-cell *matHeaderCellDef>
          <div fxLayout="column" fxLayoutAlign="center center">
            <a>{{ marDate | date :'dd/MM/yyyy'}}</a>
            <a>Martes</a>
          </div>
        </th>
        <td class="cell-d" mat-cell *matCellDef="let element">
          <div fxLayout="column" fxLayoutAlign="center center">
            <app-reservacion [resId]='element.resM' [cDate]="marDate" (requestUpdate)="requestUpdate()" [roomId]='element.roomId' [text]='element.martes'></app-reservacion>
          </div>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="miercoles">
        <th class="cell-d" mat-header-cell *matHeaderCellDef>
          <div fxLayout="column" fxLayoutAlign="center center">
            <a>{{ mierDate | date :'dd/MM/yyyy'}}</a>
            <a>Miercoles</a>
          </div>
        </th>
        <td class="cell-d" mat-cell *matCellDef="let element">
          <div fxLayout="column" fxLayoutAlign="center center">
            <app-reservacion [resId]='element.resMi' [cDate]="mierDate" (requestUpdate)="requestUpdate()" [roomId]='element.roomId' [text]='element.miercoles'></app-reservacion>
          </div>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="jueves">
        <th class="cell-d" mat-header-cell *matHeaderCellDef>
          <div fxLayout="column" fxLayoutAlign="center center">
            <a>{{ jueDate | date :'dd/MM/yyyy'}}</a>
            <a>Jueves</a>
          </div>
        </th>
        <td class="cell-d" mat-cell *matCellDef="let element">
          <div fxLayout="column" fxLayoutAlign="center center">
            <app-reservacion [resId]='element.resJ' [cDate]="jueDate" (requestUpdate)="requestUpdate()" [roomId]='element.roomId' [text]='element.jueves'></app-reservacion>
          </div>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="viernes">
        <th class="cell-d" mat-header-cell *matHeaderCellDef>
          <div fxLayout="column" fxLayoutAlign="center center">
            <a>{{ vierDate | date :'dd/MM/yyyy'}}</a>
            <a>Viernes</a>
          </div>
        </th>
        <td class="cell-d" mat-cell *matCellDef="let element">
          <div fxLayout="column" fxLayoutAlign="center center">
            <app-reservacion [resId]='element.resV' [cDate]="vierDate" (requestUpdate)="requestUpdate()" [roomId]='element.roomId' [text]='element.viernes'></app-reservacion>
          </div>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="sabado">
        <th class="cell-d" mat-header-cell *matHeaderCellDef>
          <div fxLayout="column" fxLayoutAlign="center center">
            <a>{{ sabdDate | date :'dd/MM/yyyy'}}</a>
            <a>Sabado</a>
          </div>
        </th>
        <td class="cell-d" mat-cell *matCellDef="let element">
          <div fxLayout="column" fxLayoutAlign="center center">
            <app-reservacion [resId]='element.resS' [cDate]="sabdDate" (requestUpdate)="requestUpdate()" [roomId]='element.roomId' [text]='element.sabado'></app-reservacion>
          </div>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="domingo">
        <th class="cell-d" mat-header-cell *matHeaderCellDef>
          <div fxLayout="column" fxLayoutAlign="center center">
            <a>{{ domDate | date :'dd/MM/yyyy'}}</a>
            <a>Domingo</a>
          </div>
        </th>
        <td class="cell-d" class="cell-d" mat-cell *matCellDef="let element">
          <div fxLayout="column" fxLayoutAlign="center center">
            <app-reservacion [resId]='element.resD' [cDate]="domDate" (requestUpdate)="requestUpdate()" [roomId]='element.roomId' [text]='element.domingo'></app-reservacion>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"> </mat-paginator>
  </div>

</div>