:host /deep/ .mat-tab-group {
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
}

:host /deep/ .mat-tab-header {
    border-bottom: none;
}

:host /deep/ .mat-tab-header-pagination {
    display: none !important;
}

:host /deep/ .mat-tab-labels {
    flex-direction: column;    
}

:host /deep/ .mat-ink-bar {
    height: 100%;
    left: 98% !important;
}

:host /deep/ .mat-tab-body-wrapper {
    flex: 1 1 auto;
}

::ng-deep .mat-tab-label {
    padding-left: 5px !important;
    padding-right: 10px !important;
    justify-content: right !important;
  }