<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>
            Bodega {{!!bodega.bodega ? bodega.descripcion : ''}}
        </h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmBodega="ngForm" (ngSubmit)="frmBodega.form.valid && onSubmit()" novalidate>
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="bodega.descripcion" required>
                <input matInput *ngIf="esMovil" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="bodega.descripcion" required>
            </mat-form-field>
            <mat-checkbox name="pordefecto" class="fullWidth" [(ngModel)]="+bodega.pordefecto">Usar por defecto</mat-checkbox>
            <mat-checkbox name="merma" class="fullWidth" [(ngModel)]="+bodega.merma">¿Es Merma?</mat-checkbox>
            <mat-checkbox name="permitir_requisicion" class="fullWidth" [(ngModel)]="+bodega.permitir_requisicion">Permitir requisiciones</mat-checkbox><br/><br/>

            <span *ngIf="+bodega.debaja === 1">
                <strong>Bodega dada de baja el {{bodega.fechabaja | date:'dd/MM/YYYY HH:mm:ss'}} por {{bodega.usrnamebaja}}</strong>
            </span>

            <div align="end">
                <button mat-raised-button type="button" color="warn" class="btnAccion" *ngIf="bodega.bodega" (click)="darDeBaja()" [disabled]="+bodega.debaja === 1">
                    Dar de baja
                </button>
                <button mat-raised-button type="submit" color="accent" class="btnAccion" [disabled]="!frmBodega.form.valid || +bodega.debaja === 1">
                    Guardar
                </button>                
                <button mat-raised-button type="button" color="accent" (click)="resetBodega()" *ngIf="bodega.bodega">
                    Nueva
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
