.matSideNavContainer {
    height: 90%;
    overflow: hidden !important; 
}

.divAreaMesa {
    width: 100vw;
    height: 90vh;
    background-color: #c7c7c749;
}

mat-sidenav {
    width: 97vw;
    /*border: 1px black solid;*/
    
}

::ng-deep .mat-drawer-inner-container {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.es-call-center {
    /* border: 1px black solid; */
    position: absolute;
    top: 5px;
    right: 5px;    
    width: 113px;
    height: 50px;
    z-index: 9999;
}